@font-face {
  font-family: Roboto;
  src: url('../../node_modules/roboto-fontface/fonts/Roboto/Roboto-Thin.ttf');
}

@mixin full-screen() {
  height: 100%;
  margin: 0%;
  padding: 0%;
  width: 100%;
}

/* -- colors -- */
$light-gold: rgb(255, 217, 102);
$medium-gold: rgb(255, 191, 0);
$dark-gold: rgb(204, 153, 0);
$light-gold-t: rgba(255, 217, 102, 0.5);
$medium-gold-t: rgba(255, 191, 0, 0.5);

$light-silver: rgb(230, 230, 230);
$medium-silver: rgb(166, 166, 166);
$dark-silver: rgb(115, 115, 115);

$light-bronze: rgb(215, 153, 91);
$medium-bronze: rgb(205, 127, 50);
$dark-bronze: rgb(164, 102, 40);

$light-green: rgb(71, 209, 71);
$green: rgb(0, 153, 51);
$light-green-t: rgba(71, 209, 71, 0.5);
$green-t: rgba(0, 153, 51, 0.5);

$light-red: rgb(255, 51, 51);
$red: rgb(204, 0, 0);
$light-red-t: rgba(255, 51, 51, 0.5);
$red-t: rgba(204, 0, 0, 0.5);
$dark-red: rgb(102, 0, 0);

$light-blue: rgb(51, 173, 255);
$blue: rgb(0, 102, 204);
$dark-blue: rgb(0, 51, 153);
$dark-blue-t: rgba(0, 51, 153, 0.5);

html, body, #app, .content-wrapper, .content{
  @include full-screen();
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
}

.grid{
  width: 80%;
}

.header{
  height: 100%;
  position: relative;
  width: 100%;
  z-index: 10;
}

@media (max-width: 1500px) {
  .header{
    overflow: auto;
    position: fixed;
  }
}

#snow{
  @include full-screen();
  background: linear-gradient(to bottom, rgb(0, 102, 204), rgb(0, 255, 255));
  position: fixed;
  top: 0px;
  z-index: 1;
}

.footer-wrapper{
  bottom: 0px;
  display: flex;
  left: -10%;
  position: fixed;
  width: 120%;
  z-index: 10;
}

.footer{
  align-items: center;
  background-color: white;
  border-top-left-radius: 100% 50%;
  border-top-right-radius: 100% 50%;
  bottom: 0px;
  color: black;
  display: flex;
  padding: 10px 0px;
  position: relative;
  text-align: center;
  width: 100%;
  z-index: 2;

  .text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px 20px;
    width: 100%;

    hr{
      background-color: $blue;
      border: none;
      height: 1px;
      width: 70%;
    }

    p{
      margin: 5px 10%;
      font-weight: 700;
      padding: 10px;
    }
  }
}

.title{
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  transition: all 1s;
  width: 100%;
  z-index: 1111;

  .text{
    align-items: center;
    background-color: white;
    border-radius: 60px;
    box-shadow: -2px 2px 0px 2px $light-red,2px -2px 0px 2px $light-green, 0px -8px 4px 8px rgba(0, 0, 0, 0.15);
    color: $light-red;
    display: flex;
    font-size: 48px;
    font-weight: bolder;
    justify-content: center;
    margin: 0px;
    margin-top: 20px;
    min-height: 58px;
    padding: 20px 40px;
    text-shadow: $light-red 1px 1px, $dark-red 2px 2px, $dark-red 3px 3px, $dark-red 4px 4px, $dark-red 5px 5px;
    transition: all 1s;
    width: 600px;

    .year{
      color: $light-green;
      margin-right: 16px;
      text-shadow: $light-green 1px 1px, $green 2px 2px, $green 3px 3px, $green 4px 4px, $green 5px 5px;
    }
  }

  .lights{
    transition: all 0.5s;
    width: 620px;
    z-index: -1;
    li:nth-child(1n + 12){
      &:after{
        display: none;
      }
    }
  }
}

@media (max-width: 1500px) {
  .title{
    position: fixed;
    z-index: 10;

    .text{
      border-radius: 0px;
      box-shadow: 0px 1px 4px rgba(0,0,0,0.4);
      margin-top: 0px;
      width: 100%;
    }

    .lights{
      left: -10%;
      top: 95px;
      width: 120%;

      li:nth-child(1n + 12){
        &:after{
          display: initial;
        }
      }
    }
  }
}

@media (max-width: 650px) {
  .title{
    .text{
      font-size: 36px;
    }
  }
}

@media (max-width: 450px) {
  .title{
    .text{
      font-size: 24px;
    }
  }
}

.last-years-winner-wrapper{
  @include full-screen();
  align-items: center;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0px;
  z-index: 3;
}

@media (max-width: 1500px) {
  .last-years-winner-wrapper{
    height: 320px;
    margin: 320px 0px;
    position: relative;
  }
}

.last-years-winner{
  align-items: center;
  border-radius: 60px;
  box-shadow: 0px -4px 0px 4px $light-silver, 1px 1px 4px rgba(0,0,0,0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 300px;
  position: relative;
  width: 300px;

  h1{
    align-items: center;
    background-color: white;
    color: $light-blue;
    display: flex;
    font-size: 24px;
    font-weight: 700;
    height: 20px;
    justify-content: center;
    margin: 0px;
    padding: 20px 0px;
    text-shadow: $light-blue 1px 1px, $dark-blue 2px 2px;
    width: 100%;
  }

  .image{
    align-items: center;
    background-color: white;
    display: flex;
    height: 180px;
    justify-content: center;
    position: relative;
    width: 100%;

    img{
      border: none;
      border-radius: 50%;
      max-height: 180px;
      position: absolute;
    }
  }

  .title{
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    position: absolute;
    top: 0px;
  }

  .name{
    bottom: 0px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    position: absolute;
    bottom: 0px;
  }
}

.totals{
  align-items: center;
  display: flex;
  height: 90px;
  justify-content: center;
  margin-top: 4px;
  position: fixed;
  right: 0px;
  top: 0px;
  transition: all 1s;
  width: 100%;
  z-index: 30;

  .money, .votes{
    align-items: center;
    display: flex;
    border-radius: 25px;
    height: 70px;
    text-shadow: $medium-silver 1px 1px, $medium-silver 2px 2px;
    transition: all 1s;
  }

  .votes{
    box-shadow: 1px 1px 4px rgba(0,0,0,0.4);
    left: 0px;
    position: absolute;
    .icon{
      align-items: center;
      background-color: white;
      border-bottom-right-radius: 25px;
      border-top-right-radius: 25px;
      display: flex;
      height: 50px;
      justify-content: center;
      padding: 10px;
      width: 50px;
    }
    .value{
      align-items: center;
      background: repeating-linear-gradient(
        -45deg,
        $light-blue,
        $light-blue 30px,
        $blue 30px,
        $blue 60px
      );
      color: white;
      display: flex;
      font-size: 24px;
      height: 50px;
      justify-content: center;
      padding: 10px;
      width: 100px;
    }
  }

  .money{
    box-shadow: -1px 1px 4px rgba(0,0,0,0.4);
    right: 0px;
    position: absolute;
    .icon{
      align-items: center;
      background-color: white;
      border-bottom-left-radius: 25px;
      border-top-left-radius: 25px;
      display: flex;
      height: 50px;
      justify-content: center;
      padding: 10px;
      width: 50px;
    }
    .value{
      align-items: center;
      background: repeating-linear-gradient(
        -45deg,
        $light-green,
        $light-green 30px,
        $green 30px,
        $green 60px
      );
      color: white;
      display: flex;
      font-size: 24px;
      height: 50px;
      justify-content: center;
      padding: 10px;
      width: 100px;
    }
  }
}

@media (max-width: 1500px) and (min-width: 1201px) {
  .totals{
    .votes, .money{
      box-shadow: none;
    }

    .votes{
      border: 1px solid $blue;
      border-left: none;
      border-bottom-left-radius: 0px;
      border-top-left-radius: 0px;
    }

    .money{
      border: 1px solid $light-green;
      border-right: none;
      border-bottom-right-radius: 0px;
      border-top-right-radius: 0px;
    }
  }
}

@media (max-width: 1200px) {
  .totals{
    flex-direction: row;
    left: 0px;
    position: fixed;
    top: 160px;
    width: 100%;

    .votes, .money{
      border-radius: 25px;

      .value{
        border-bottom-right-radius: 25px;
        border-top-right-radius: 25px;
      }
    }

    .votes{
      left: 20px;
      .value{
        border-bottom-left-radius: 25px;
        border-top-left-radius: 25px;
        border-bottom-right-radius: 0px;
        border-top-right-radius: 0px;
      }
    }

    .money{
      right: 40px;
    }
  }
}

.ground{
  background-color: white;
  border-top-left-radius: 100% 50%;
  border-top-right-radius: 100% 50%;
  bottom: 0px;
  height: 0px;
  position: absolute;
  width: 120%;
  z-index: 2;
}

.contestants-wrapper{
  align-items: center;
  display: flex;
  height: 500px;
  position: absolute;
  top: 240px;
  width: 100%;
}

@media (max-width: 1500px) {
  .contestants-wrapper{
    height: auto;
    justify-content: center;
    margin-top: 100px;
    position: relative;

    .contestants{
      height: auto;
      left: initial;
      position: relative;
      transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
      width: 90%;
    }
  }
}

.contestants{
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  max-height: 540px;
  justify-content: center;
  overflow: auto;
  padding: 30px 0px;
  position: absolute;
  right: -600px;
  transform: rotateX(-25deg) rotateY(-35deg) rotateZ(-5deg);
  transform-style: preserve-3d;
  transition: all 1s;
  width: 600px;
  z-index: 5;

  &.intro{
    right: 0px;
  }

  .contestant{
    align-items: center;
    display: flex;
    height: 50%;
    justify-content: center;
    margin: 0px 10px 30px 10px;
    width: 260px;

    h1{
      font-size: 18px;
      margin: 0px;
    }

    .bar{
      align-items: center;
      background: repeating-linear-gradient(
        45deg,
        $light-blue,
        $light-blue 30px,
        $blue 30px,
        $blue 60px
      );
      border-radius: 30px;
      box-shadow: 0px 0px 0px 8px $blue, 8px -8px 0px 8px $light-blue, 26px -16px 4px 8px rgba(0,0,0,0.15);
      display: flex;
      height: 60px;
      margin-left: -60px;
      position: relative;
      width: 240px;

      .name{
        margin-left: 60px;
        text-align: center;
        text-shadow: $medium-silver 1px 1px, $medium-silver 2px 2px;
        width: 180px;

        h1{
          color: white;
        }
      }

      .votes{
        align-items: center;
        border-left: 1px solid white;
        display: flex;
        height: 20px;
        padding: 5px 10px;
        right: 0px;
        width: 30px;

        h1{
          color: white;
        }
      }
    }


    @media (max-width: 1500px) {
      .bar{
        box-shadow: 0px 0px 0px 8px $blue, 0px -8px 0px 8px $light-blue, 0px -16px 4px 8px rgba(0,0,0,0.15);
      }
    }

    .medal{
      background-color: white;
      border-radius: 30px;
      box-shadow: 1px 1px 4px rgba(0,0,0,0.4);
      height: 60px;
      width: 60px;
      z-index: 2;

      h1{
        margin: 0px !important;
      }

      .place{
        align-items: center;
        border-radius: 30px;
        color: $light-blue;
        display: flex;
        font-weight: bolder;
        height: 30px;
        justify-content: center;
        margin: 0px;
        text-align: center;
        text-shadow: $light-blue 1px 1px, $dark-blue 2px 2px;
        width: 60px;
      }

      .votes{
        align-items: center;
        background-color: $blue;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
        color: white;
        display: flex;
        height: 30px;
        justify-content: center;
        margin: 0px;
        text-shadow: $medium-silver 1px 1px, $medium-silver 2px 2px;
        width: 60px;
      }
    }
  }
}

@media (max-width: 1500px) {
  .contestants{
    max-height: none;
  }
}

.leaders-wrapper{
  align-items: center;
  display: flex;
  height: 500px;
  position: absolute;
  top: 240px;
  width: 100%;
  z-index: 9;
}

@media (max-width: 1500px) {
  .leaders-wrapper{
    justify-content: center;
    position: relative;
    top: 200px;

    .leaders{
      left: initial;
      position: relative;
      transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
  }
}

@media (max-width: 1200px) {
  .leaders-wrapper{
    top: 320px;
  }
}

.leaders{
  align-items: center;
  display: flex;
  justify-content: center;
  left: -500px;
  position: absolute;
  transform: rotateX(-35deg) rotateY(35deg) rotateZ(15deg);
  transform-style: preserve-3d;
  transition: all 1s;
  width: 500px;
  z-index: 3;

  &.intro{
    left: 0px;
  }

  .names{
    align-items: center;
    display: flex;
    flex-direction: column;
    float: left;
    height: 100%;
    width: 300px;

    .name{
      display: flex;
      margin-bottom: 40px;
      text-shadow: $medium-silver 1px 1px, $medium-silver 2px 2px;
      width: 100%;
      z-index: 2;

      h1{
        align-items: center;
        box-shadow: -16px -16px 4px rgba(0,0,0,0.15);
        color: white;
        display: flex;
        font-weight: bolder;
        justify-content: center;
        margin: 0px;
      }

      &.first{
        position: relative;
        z-index: 3;
        h1{
          background: repeating-linear-gradient(
            45deg,
            $dark-gold,
            $dark-gold 50px,
            $medium-gold 50px,
            $medium-gold 100px
          );
          border-radius: 80px;
          box-shadow: 0px 0px 0px 10px $dark-gold, -12px -8px 0px 12px $medium-gold, -56px -46px 4px 12px rgba(0,0,0,0.15);
          font-size: 32px;
          height: 160px;
          margin-left: -160px;
          padding-left: 170px;
          padding-right: 10px;
          width: 320px;
        }
        @media (max-width: 1500px) {
          h1{
            box-shadow: 0px 0px 0px 10px $dark-gold, 0px -8px 0px 12px $medium-gold, 0px -46px 4px 12px rgba(0,0,0,0.15);
          }
        }
      }
      &.second{
        position: relative;
        z-index: 2;
        h1{
          background: repeating-linear-gradient(
            45deg,
            $dark-silver,
            $dark-silver 40px,
            $medium-silver 40px,
            $medium-silver 80px
          );
          border-radius: 60px;
          box-shadow: 0px 0px 0px 10px $dark-silver, -10px -8px 0px 10px $medium-silver, -46px -36px 4px 10px rgba(0,0,0,0.15);
          font-size: 24px;
          height: 120px;
          margin-left: -120px;
          padding-left: 130px;
          padding-right: 10px;
          width: 240px;
        }
        @media (max-width: 1500px) {
          h1{
            box-shadow: 0px 0px 0px 10px $dark-silver, 0px -8px 0px 10px $medium-silver, 0px -36px 4px 10px rgba(0,0,0,0.15);
          }
        }
      }
      &.third{
        position: relative;
        z-index: 1;
        h1{
          background: repeating-linear-gradient(
            45deg,
            $dark-bronze,
            $dark-bronze 30px,
            $medium-bronze 30px,
            $medium-bronze 60px
          );
          border-radius: 40px;
          box-shadow: 0px 0px 0px 10px $dark-bronze, -10px -8px 0px 10px $medium-bronze, -46px -36px 4px 10px rgba(0,0,0,0.15);
          font-size: 18px;
          height: 80px;
          margin-left: -80px;
          padding-left: 90px;
          padding-right: 10px;
          width: 200px;
        }
        @media (max-width: 1500px) {
          h1{
            box-shadow: 0px 0px 0px 10px $dark-bronze, 0px -8px 0px 10px $medium-bronze, 0px -36px 4px 10px rgba(0,0,0,0.15);
          }
        }
      }
    }
  }

  .medals{
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 160px;
    z-index: 5;

    .medal-wrapper{
      display: flex;
      justify-content: flex-end;
      width: 100%;
    }

    .medal{
      align-items: center;
      box-shadow: 1px 1px 4px rgba(0,0,0,0.4);
      border-radius: 50%;
      margin: 0px;
      margin-bottom: 40px;
      width: 100%;

      .place{
        align-items: center;
        border-top-left-radius: 80px;
        border-top-right-radius: 80px;
        color: $blue;
        display: flex;
        height: 50%;
        justify-content: center;
        margin: 0px;
        text-align: center;
        width: 100%;
      }

      .votes{
        align-items: center;
        border-bottom-left-radius: 80px;
        border-bottom-right-radius: 80px;
        color: white;
        display: flex;
        height: 50%;
        justify-content: center;
        margin: 0px;
        text-shadow: $medium-silver 1px 1px, $medium-silver 2px 2px;
        width: 100%;
      }

      &.first{
        height: 160px;
        width: 160px;

        .place{
          background-color: white;
          color: $light-gold;
          font-size: 36px;
          height: 80px;
          text-shadow: $light-gold 1px 1px, $dark-gold 2px 2px, $dark-gold 3px 3px, $dark-gold 4px 4px;
        }
        .votes{
          background-color: $dark-gold;
          font-size: 36px;
        }
      }
      &.second{
        height: 120px;
        width: 120px;

        .place{
          background-color: white;
          color: $light-silver;
          font-size: 24px;
          height: 60px;
          text-shadow: $light-silver 1px 1px, $dark-silver 2px 2px, $dark-silver 3px 3px, $dark-silver 4px 4px;
        }
        .votes{
          background-color: $dark-silver;
          font-size: 24px;
        }
      }
      &.third{
        height: 80px;
        width: 80px;

        .place{
          background-color: white;
          color: $light-bronze;
          font-size: 18px;
          height: 40px;
          text-shadow: $light-bronze 1px 1px, $dark-bronze 2px 2px;
        }
        .votes{
          background-color: $dark-bronze;
          font-size: 18px;
        }
      }
    }
  }
}

/* -- Christmas lights -- */

$globe-width:   12px;
$globe-height:  28px;
$globe-spacing: 40px;
$globe-spread: 3px;
$light-off-opacity: 0.4;

.lights {
  top: 118px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  z-index: 1;
  margin: -15px 0 0 0;
  padding: 0;
  pointer-events: none;
  li {
    position: relative;
    animation-fill-mode: both;
    animation-iteration-count:infinite;
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
    width: $globe-width;
    height: $globe-height;
    border-radius: 50%;
    margin: $globe-spacing/2;
    display: inline-block;
    background: $green;
    box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread $light-green;
    animation-name: flash-1;
    animation-duration: 2s;
    &:nth-child(2n+1) {
      background: $blue;
      box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread $light-blue;
      animation-name: flash-2;
      animation-duration: 0.4s;
    }
    &:nth-child(4n+2) {
      background: $red;
      box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread $red;
      animation-name: flash-3;
      animation-duration: 1.1s;
    }
    &:nth-child(odd) {
      animation-duration: 1.8s;
    }
    &:nth-child(3n+1) {
      animation-duration: 1.4s;
    }
    &:before {
      content: "";
      position: absolute;
      background: #222;
      width: ($globe-width - 2);
      height: $globe-height/3;
      border-radius: 3px;
      top: (0 - ($globe-height/6));
      left: 1px;
    }
    &:after {
      content: "";
      top: (0 - $globe-height/2);
      left: $globe-width - 3;
      position: absolute;
      width: $globe-spacing + 12;
      height: ($globe-height/3 * 2);
      border-bottom: solid #222 2px;
      border-radius: 50%;
    }
    &:last-child:after {
      content: none;
    }
  }
}
@keyframes flash-1 {
  0%, 100% { background: $green;
  box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread $green;}
  50% { background: $green-t;
  box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread $green-t;}
}
@keyframes flash-2 {
  0%, 100% { background: $dark-blue;
  box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread $dark-blue;}
  50% { background: $dark-blue-t;
  box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread $dark-blue-t;}
}
@keyframes flash-3 {
  0%, 100% { background: $red;
  box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread $red;}
  50% { background: $red-t;
  box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread $red-t;}
}
