.footer-wrapper{
  bottom: 0px;
  left: 0px;
  display: flex;
  position: fixed;
  width: 100%;
  z-index: 10;
}

@media(max-width: 1500px){
  .footer-wrapper{
    position: absolute;
  }
}

.footer{
  background-color: white;
  bottom: 0px;
  padding: 10px 0px;
  text-align: center;
  width: 100%;
  z-index: 2;

  .text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px;
    margin-top: 10px;
    width: 100%;

    hr{
      background-color: $blue;
      border: none;
      height: 1px;
      margin: 2px auto;
      width: 70%;
    }

    p{
      margin: 5px 0px;
      font-size: 0.8em;
      font-weight: 300;
      padding: 5px 20px;
    }
  }
}