.totals{
  align-items: center;
  display: flex;
  height: 80px;
  justify-content: center;
  margin-top: 40px;
  right: 0px;
  top: 0px;
  width: 100%;
  z-index: 30;

  .money, .votes{
    align-items: center;
    box-shadow: $shadow1;
    display: flex;
    border-radius: 25px;

    .icon{
      align-items: center;
      background-color: white;
      display: flex;
      font-size: 1.5em;
      height: 30px;
      margin: 0px;
      justify-content: center;
      padding: 15px 10px;
      width: 30px;
    }

    .value{
      align-items: center;
      color: white;
      display: flex;
      font-size: 1.5em;
      font-weight: 100;
      height: 30px;
      justify-content: center;
      margin: 0px;
      padding: 15px 10px;
      text-shadow: 0px 0px 1px rgba(black, 0.4);
      width: 80px;
    }
  }

  .votes{
    left: 0px;
    position: absolute;
    .icon{
      border-bottom-right-radius: 100px;
      border-top-right-radius: 100px;
      
      i{
        color: $blue;
      }
    }
    .value{
      background: repeating-linear-gradient(
        -45deg,
        $light-blue,
        $light-blue 30px,
        $blue 30px,
        $blue 60px
      );
    }
  }

  .money{
    right: 0px;
    position: absolute;
    .icon{
      border-bottom-left-radius: 100px;
      border-top-left-radius: 100px;
      
      i{
        color: $green;
      }
    }
    .value{
      background: repeating-linear-gradient(
        -45deg,
        $light-green,
        $light-green 30px,
        $green 30px,
        $green 60px
      );
    }
  }
}